@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@theme inline {
  --font-sans: 'Inter var', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9772 0 0);
  --foreground: oklch(0.1815 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1815 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1815 0 0);
  --primary: oklch(0.8696 0.1705 128.9924);
  --primary-foreground: oklch(0.1815 0 0);
  --secondary: oklch(0.9234 0 0);
  --secondary-foreground: oklch(0.4184 0 0);
  --muted: oklch(0.9542 0 0);
  --muted-foreground: oklch(0.5547 0 0);
  --accent: oklch(0.9234 0 0);
  --accent-foreground: oklch(0.4184 0 0);
  --destructive: oklch(0.6065 0.2184 26.7425);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9079 0 0);
  --input: oklch(0.9389 0 0);
  --ring: oklch(0.8696 0.1705 128.9924);
  --chart-1: oklch(0.8696 0.1705 128.9924);
  --chart-2: oklch(0.6114 0.1743 262.4626);
  --chart-3: oklch(0.7941 0.1406 177.5187);
  --chart-4: oklch(0.7981 0.1577 78.3663);
  --chart-5: oklch(0.6479 0.2259 320.5906);
  --radius: 0.5rem;
  --sidebar: oklch(0.9772 0 0);
  --sidebar-foreground: oklch(0.1815 0 0);
  --sidebar-primary: oklch(0.8696 0.1705 128.9924);
  --sidebar-primary-foreground: oklch(0.1815 0 0);
  --sidebar-accent: oklch(0.9234 0 0);
  --sidebar-accent-foreground: oklch(0.4184 0 0);
  --sidebar-border: oklch(0.9079 0 0);
  --sidebar-ring: oklch(0.8696 0.1705 128.9924);
  --font-sans: 'Inter var', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(0, 0%, 50%);
  --shadow-opacity: 0.05;
  --shadow-blur: 10px;
  --shadow-spread: -3px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px -3px hsl(0 0% 50% / 0.03);
  --shadow-xs: 0px 4px 10px -3px hsl(0 0% 50% / 0.03);
  --shadow-sm: 0px 4px 10px -3px hsl(0 0% 50% / 0.05), 0px 1px 2px -4px hsl(0 0% 50% / 0.05);
  --shadow: 0px 4px 10px -3px hsl(0 0% 50% / 0.05), 0px 1px 2px -4px hsl(0 0% 50% / 0.05);
  --shadow-md: 0px 4px 10px -3px hsl(0 0% 50% / 0.05), 0px 2px 4px -4px hsl(0 0% 50% / 0.05);
  --shadow-lg: 0px 4px 10px -3px hsl(0 0% 50% / 0.05), 0px 4px 6px -4px hsl(0 0% 50% / 0.05);
  --shadow-xl: 0px 4px 10px -3px hsl(0 0% 50% / 0.05), 0px 8px 10px -4px hsl(0 0% 50% / 0.05);
  --shadow-2xl: 0px 4px 10px -3px hsl(0 0% 50% / 0.13);
  --tracking-normal: 0.01em;
}

.dark {
  --background: oklch(0.1815 0 0);
  --foreground: oklch(0.9466 0 0);
  --card: oklch(0.2156 0 0);
  --card-foreground: oklch(0.9619 0 0);
  --popover: oklch(0.2156 0 0);
  --popover-foreground: oklch(0.9619 0 0);
  --primary: oklch(0.7882 0.2004 131.0581);
  --primary-foreground: oklch(0.9619 0 0);
  --secondary: oklch(0.2697 0 0);
  --secondary-foreground: oklch(0.7652 0 0);
  --muted: oklch(0.2376 0 0);
  --muted-foreground: oklch(0.6830 0 0);
  --accent: oklch(0.3008 0 0);
  --accent-foreground: oklch(0.8054 0 0);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --destructive-foreground: oklch(0.9619 0 0);
  --border: oklch(0.3705 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.7882 0.2004 131.0581);
  --chart-1: oklch(0.7882 0.2004 131.0581);
  --chart-2: oklch(0.7104 0.1123 263.4750);
  --chart-3: oklch(0.8018 0.1135 180.5944);
  --chart-4: oklch(0.8242 0.1254 82.7388);
  --chart-5: oklch(0.7704 0.1263 320.7387);
  --radius: 0.5rem;
  --sidebar: oklch(0.1579 0 0);
  --sidebar-foreground: oklch(0.9234 0 0);
  --sidebar-primary: oklch(0.7933 0.1777 129.7957);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.2376 0 0);
  --sidebar-accent-foreground: oklch(0.8452 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.7933 0.1777 129.7957);
  --font-sans: 'Inter var', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(0, 0%, 2%);
  --shadow-opacity: 0.5;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 10px;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 10px 20px -5px hsl(0 0% 2% / 0.25);
  --shadow-xs: 0px 10px 20px -5px hsl(0 0% 2% / 0.25);
  --shadow-sm: 0px 10px 20px -5px hsl(0 0% 2% / 0.50), 0px 1px 2px -6px hsl(0 0% 2% / 0.50);
  --shadow: 0px 10px 20px -5px hsl(0 0% 2% / 0.50), 0px 1px 2px -6px hsl(0 0% 2% / 0.50);
  --shadow-md: 0px 10px 20px -5px hsl(0 0% 2% / 0.50), 0px 2px 4px -6px hsl(0 0% 2% / 0.50);
  --shadow-lg: 0px 10px 20px -5px hsl(0 0% 2% / 0.50), 0px 4px 6px -6px hsl(0 0% 2% / 0.50);
  --shadow-xl: 0px 10px 20px -5px hsl(0 0% 2% / 0.50), 0px 8px 10px -6px hsl(0 0% 2% / 0.50);
  --shadow-2xl: 0px 10px 20px -5px hsl(0 0% 2% / 1.25);
}